<%- include ('../partials/head') %>
    <%- include ('../partials/menu') %>

      <main>
        <div class="col"><%- include ('../partials/message') %></div>
        <div class="container">

          
        </div>
      </main>

      <%- include ('../partials/footer') %>