<!-- FILEPATH: /Users/owen/Documents/CSCI 3308/CSCI3308_16-07/All Project Code & Components/src/views/pages/search.ejs -->

<%- include ('../partials/head') %>
    <%- include('../partials/menu') %>
        <div class="container">
            <h1>Search Users</h1>
            <form action="/search" method="POST">
                <div class="form-group">
                    <label for="username">Username:</label>
                    <input type="text" class="form-control" id="username" name="username" placeholder="Enter username">
                </div>
                <button type="submit" class="btn btn-primary">Search</button>
            </form>
            <<<<<<< HEAD <% if (typeof users !=="undefined" && users.length> 0) { %>
                =======

                <% if (typeof users !=="undefined" && users.length> 0) { %>
                    >>>>>>> 4727793 (added search functionality)
                    <table class="table">
                        <thead>
                            <tr>
                                <th>Username</th>
                            </tr>
                        </thead>
                        <tbody>
                            <% users.forEach(function(user) { %>
                                <tr>
                                    <td>
                                        <%= user.username %>
                                    </td>
                                </tr>
                                <% }); %>
                        </tbody>
                    </table>
                    <% } else { %>
                        <p>No users found.</p>
                        <% } %>
        </div>
        <%- include('../partials/footer') %>